      <!-- Report Right Column -->
[% col_class = 'float-view'; -%]
      <div class="right-column [% col_class %] content-area span9p5">
         <div class="content-page">
            <article>
[%    INCLUDE 'default/header.tt' -%]
               <!-- Content -->
[%    Dispatch( page.content ) %]
            </article>
         </div>
      </div>
